{% extends 'layout.html.twig' %}

{% block title %}
  Edition catégorie
  {{ parent() }}
{% endblock %}

{% block body %}
  <section class="container mt-4">
    <div class="card p-3 w-50 mx-auto">
      <h1 class="text-center">Modification d'un article {{ categorie.titre }}</h1>
      { % include"Backend/Article/_form.html.twig"with{button_label:'Modifier'}%}

      {% endblock %}
