{% extends 'layout.html.twig' %}

{% block title %}
  Admin Categorie |
  {{ parent() }}
{% endblock %}

{% block body %}
  <section class="container mt-4">
    <div class="card p-3 w-50 mx-auto">
      <h1 class="text-center">Créer une nouvelle catégorie</h1>

      {% include'Backend/categorie/_form.html.twig' with{ button_label: "Créer"} %}
    </div>
    <a href="{{ path('app_categorie_index') }}" class="btn btn-secondary text-dark">Retour à la liste</a>
  </section>
{% endblock %}
